<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <section class="footer-default" th:fragment="Footer" style="padding-top: 150px; padding-bottom: 20px;">
        <div class="container-small px-lg-7 px-xxl-3">
          <div class="row position-relative justify-content-between">
            <div class="col-12 col-sm-12 col-lg-5 mb-4 order-0 order-sm-0" style="width:20%"><a href="#"><img class="mb-3" src="/assets/img/logos/filmountain_logo.svg" alt="Logo" height="48" /></a>
              <h3 class="text-white" style="display: none;">Filmountain</h3>
            </div>
            <div class="col-lg-7">
              <div class="row justify-content-between">
                <div class="col-6 col-sm-4 col-lg-3 mb-3 order-2 order-sm-1" style="width: 40%;">
                  <div class="border-dashed border-start border-primary-light ps-3" style="--phoenix-border-opacity: .2;">
                    <h5 class="fw-bolder mb-2" style="color: #69CAD1;">Contact</h5>
                    <ul class="list-unstyled mb-3" style="color: #69CAD1; font-weight: 100;">
                      <li class="mb-1 fs-9"><span style="font-weight: 900;">T.</span> 02-1644-3095</li>
                      <li class="mb-1 fs-9"><span style="font-weight: 900;">F.</span> 02-2088-4655</li>
                      <li class="mb-1 fs-9"><span style="font-weight: 900;">사업/제품문의.</span> 02-569-2227</li>
                      <li class="mb-1 fs-9"><span style="font-weight: 900;">E.</span> allen@zetacube.net</li>
                    </ul>
                  </div>
                </div>
                <div class="col-6 col-sm-4 col-lg-3 mb-3 order-2 order-sm-2" style="width: 60%;">
                  <div class="border-dashed border-start border-primary-light ps-3" style="--phoenix-border-opacity: .2; ">
                    <h5 class="fw-bolder mb-2" style="color: #69CAD1;">Address</h5>
                    <ul class="list-unstyled mb-3" style="color: #69CAD1; font-weight: 100;">
                      <li class="mb-1 fs-9"><span style="font-weight: 900;">본사/연구소</span><br /> 경기도 부천시 소사구 양지로 237 광양프런티어밸리 5차 지식산업센터 1078, 1079호</li>
                      <li class="mb-1 fs-9"><span style="font-weight: 900;">SHOW ROOM</span><br /> 서울시 서초구 효령로 304 국제전자센터 3층 30호</li>
                      <li class="mb-1 fs-9"><span style="font-weight: 900;">DATA CENTER</span><br /> 경기도 고양시 덕양구 항동동 391 DMC플렉스데시앙 A동 12층 1203호</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 개인정보 처리방침 외 버튼-->
          <div class="row position-relative justify-content-between">
			  <p class="text-center fs-9" style="color: #69CAD1; font-weight: 100; width: 50%; margin: auto 0;">© 2023 by Zeta Cube.</p>
			  <a  class="text-center fs-9" href="/privacyPolicy" style=" width: 50%;"><p style="color: #69CAD1; font-weight: 100; margin: auto 0;">​개인정보 처리방침</p></a>
		  </div>
        </div>
        <!-- end of .container-->

      </section>
   

</html>