<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<main class="liquidity-info" th:fragment="LiquidityInfo">
	<div class="liquidity-info-container">		
		<section class="liquidity-info-section fil-overview-section text-center text-white">
			<h1>FIL 보유 및 대여 현황</h1>
			<div class="fil-overview-info">
				<div class="hr" style="width: 200px; height: 1px; background-color: #ffffff; margin:0 auto;"></div>
				<div class="fil-status-wrapper">
			    <div class="fil-status">
			        <p>전체 유동성</p>
			        <p class="total-fil fil-count" id="totalLiquidityAmount" 
			            th:data-amount="${totalpoolInfo[0].total_liquidity_amount}">0 FIL</p>
			    </div>
			    <div class="fil-status">
			        <p>가용중인 유동성</p>
			        <p class="total-fil fil-count" id="totalLodckedFil" 
			            th:data-amount="${totalpoolInfo[0].total_locked_fil}">0 FIL</p>
			    </div>
			    <div class="fil-status">
			        <p>가용가능한 유동성</p>
			        <p class="total-fil fil-count" id="availableFil" 
			            th:data-amount="${totalpoolInfo[0].total_liquidity_amount - totalpoolInfo[0].total_locked_fil}">0 FIL</p>
			    </div>
			</div>

				<div class="hr" style="width: 200px; height: 1px; background-color: #ffffff; margin:0 auto;"></div>
				<div class="loaned-sp-status-wrapper" style="display: none;">
					<div class="loaned-sp-status">
						<p>대출 중인 SP들의 전체 power</p>
						<p class="sp-total-power">15666</p>
					</div>
					<div class="loaned-sp-status">
						<p>대출 중인 SP들의 전체 sector 크기</p>
						<p class="sp-total-sector">15615</p>
					</div>
				</div>
			</div>
		</section>
			
		<section class="liquidity-info-section lp-advantages-section" style="height: 500px;">
			<div class="lp-advantages-wrapper mt-6">
				<div class="lp-advantage" style="width: 28%; height: 300px;">
					<h3>01</h3>					
					<div class="hr mb-5" style="width: 50px; height: 1px; background-color: #2A3E46; margin:0 auto;"></div>
					<h3 class="lp-advantage-title">합법적인 수익창출</h3>
					<p>비즈니스 안정성을 강화하고<br />
						수많은 데이터가 해킹으로부터<br />
						보호받을 수 있도록 ISMS 인증<br />​
						투명 경영을 위한<br />
						정보 보호 법적 준거성 확보
					</p>
				</div>	
				<div class="lp-advantage" style="width: 28%; height: 300px;">
					<h3>02</h3>
					<div class="hr mb-5" style="width: 50px; height: 1px; background-color: #2A3E46; margin:0 auto;"></div>
					<h3 class="lp-advantage-title">신속 대응 관리</h3>
					<p>숙련된 하드웨어 전문가의<br />
						최적화 세팅과<br />
						신속한 대응 관리 
					</p>
				</div>	
				<div class="lp-advantage" style="width: 28%; height: 300px;">
					<h3>03</h3>
					<div class="hr mb-5" style="width: 50px; height: 1px; background-color: #2A3E46; margin:0 auto;"></div>
					<h3 class="lp-advantage-title">쉬운 LIQUIDITY 참여</h3>
					<p>간편한 접근성으로<br />
						FIL MOUNTAIN LIQUIDITY에<br />
						쉽게 참여해보세요.
					</p>
				</div>	
			</div>			
		</section>
		
		<section class="liquidity-info-section pool-intro-section">
			<div class="pool-intro-wrapper mt-8 mb-0">
				<h3>NANODC LIQUIDITY POOL</h3>
				<hr />
				<h1>제타큐브가 직접 운영하는<br />
					나노디씨 노드의 유동성 풀에 참여하여<br />
					안정적이고 높은 리워드를 받으세요.
				</h1>
				<div class="pool-status-wrapper" style="display: none;">
					<div class="expected-apy">
						<h2 class="pool-status">12.11%</h2>
						<p>EXPECTED APY</p>
					</div>
					<div class="protocol-tvl">
						<h2 class="pool-status">8000 FIL</h2>
						<p>PROTOCOL TVL</p>
					</div>
					<div class="qap-storage-added">
						<h2 class="pool-status">12PiB</h2>
						<p>QAP STORAGE ADDED</p>
					</div>
				</div>
				<h2>복리방식의 수익구조</h2>
				<p>NanoDC Liquidity Pool에 들어간 리워드는<br />
					다시 NanoDC 온보딩 담보로 들어가 많은 리워드를 받게 됩니다.
				</p>
    			<img src="../assets/img/thumb/liquiditypool-img.png" alt="리퀴디티 풀 수익구조" />
    			<h3>zFIL(Zetacube Filecoin)?</h3>
    			<p>FIL을 NanoDC Liquidity Pool에 전송하면 받게 되는 유동성 토큰입니다.<br />
    				NanoDC에 데이터를 저장ㅎ라며 받은 리워드가 Pool에 더해져 zFIL의 가치가 상승하며,<br />
    				투자자는 더 많은 FIL을 받을 수 있습니다.
    			</p>
    			<h2>The Best Time to Buy Filecoin</h2>
    			<img src="../assets/img/thumb/filprice-img.png" alt="파일코인 수익창출 가치 그림" />
			</div>			
		</section>
    </div>
    <script>
    // total_liquidity_amount 처리
    var totalLiquidityAmountElement = document.getElementById('totalLiquidityAmount');
    console.log(totalLiquidityAmountElement);
    var totalLiquidityAmount = parseFloat(totalLiquidityAmountElement.getAttribute('data-amount'));
    totalLiquidityAmount = totalLiquidityAmount === 0 ? '0' : Math.floor(totalLiquidityAmount).toLocaleString();
    totalLiquidityAmountElement.textContent = totalLiquidityAmount + ' FIL';

    // total_lodcked_fil 처리 (전체 대여 중인 FIL)
    var totalLodckedFilElement = document.getElementById('totalLodckedFil');
    var totalLodckedFil = parseFloat(totalLodckedFilElement.getAttribute('data-amount'));
    totalLodckedFil = totalLodckedFil === 0 ? '0' : Math.floor(totalLodckedFil).toLocaleString();
    totalLodckedFilElement.textContent = totalLodckedFil + ' FIL';

    // available_fil 처리 (전체 대여 가능한 FIL)
    var availableFilElement = document.getElementById('availableFil');
    var availableFil = parseFloat(availableFilElement.getAttribute('data-amount'));
    availableFil = availableFil === 0 ? '0' : Math.floor(availableFil).toLocaleString();
    availableFilElement.textContent = availableFil + ' FIL';
</script>
</main>

</html>