<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<main class="nanodc-info" th:fragment="NanodcInfo">
	<div class="nanodc-info-container">
		<section class="pb-3 overflow-hidden" id="home">
        <div class="hero-header-container-alternate position-relative">
          <div class="container-small px-lg-7 px-xxl-3">
            <div class="row align-items-center">
              <div class="col-12 col-lg-6 pt-2 pb-6 position-relative z-5 text-center text-lg-start">
                <h1 class="fs-3 fs-md-2 fs-xl-2 fw-black mb-4">혁신적인 4차산업<br />프렌차이즈<br />4나노데이터센터</h1>
                <p class="mb-5 pe-xl-10" style="text-align: left;">Super High Performance Server Solution Providing for the 4th Generation Business Success!</p>
                <div class="row gx-3 gy-7 justify-content-center">
					<div class="text-center text-warning-dark" style="width: 30%;">
						<h2 class="text-warning-dark">4</h2>
						<p class="fs-9">OPERATING NANODC</p>
					</div>
					<div class="text-center text-warning-dark" style="width: 30%;">
						<h2 class="text-warning-dark">2</h2>
						<p class="fs-9">PLANNED DC</p>
					</div>
					<div class="text-center text-warning-dark" style="width: 30%;">
						<h2 class="text-warning-dark">12PiB</h2>
						<p class="fs-9">RAW POWER</p>
					</div>
				</div>
              </div>
              <div class="col-12 col-lg-auto d-none d-lg-block">
                <div class="hero-image-container position-absolute h-100 end-0 d-flex align-items-center">
                  <div class="position-relative text-center">
					  
					  <img class="w-100 d-dark-none rounded-2" src="/assets/img/bg/nanodc-bg.png" alt="hero-header" />
					  <img class="w-100 d-light-none rounded-2" src="/assets/img/bg/nanodc-bg.png" alt="hero-header" />
					  <!--
						  
					  <img class="position-absolute end-0 hero-image-container-bg" src="/assets/img/bg/nanodc-3d-icon.png" alt="" />
					  <div class="position-absolute end-0 hero-image-container-overlay" style="transform: skewY(-8deg)"></div>
					  <img class="w-100 d-light-none rounded-2 hero-image-shadow" src="../../assets/img/bg/bg-35.png" alt="hero-header" />
					  -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-small px-md-8 mb-8 d-lg-none">
            <div class="position-relative">
              <img class="img-fluid ms-auto d-light-none rounded-2 hero-image-shadow" src="/assets/img/bg/nanodc-bg.png" alt="hero-header"/>
            </div>
          </div>
        </div>
      </section>

	<section class="overflow-hidden rotating-earth-container pb-5 pb-md-0">

        <div class="container-small px-lg-7 px-xxl-3">
          <div class="row">
            <div class="col-lg-20 text-center" style="margin: 0 auto;">
			  <h1 class="text-center mb-6">Only NANODC</h1>
              <div class="row gy-6 gx-10">
                <div class="col-sm-3 text-center">					
        			<span class="text-warning-dark uil uil-diary-alt fs-2"></span>
                  <h4 class="mb-2">NANODC</h4>
                  <p>단 한대의 장비가 IPFS<br />데이터센터의 역활을 해냅니다.</p>
                </div>
                
                <div class="col-sm-3 text-center">			
        			<span class="text-warning-dark uil uil-refresh fs-2"></span>
                  <h4 class="mb-2">소자본창업</h4>
                  <p>소자본으로 IPFS 데이터센터의<br />​주인이 되실 수 있습니다.</p>
                </div>
                <div class="col-sm-3 text-center">			
            			<span class="text-warning-dark uil uil-sync fs-2"></span>
                  <h4 class="mb-2">자동화 시스템</h4>
                  <p>설치, 운영, 영업, 수익관리<br />전부 자동화된 사업!</p>
                </div>
                <div class="col-sm-3 text-center">					
        			<span class="text-warning-dark uil uil-user-times fs-2"></span>
                  <h4 class="mb-2">무인화 4차산업</h4>
                  <p>인간의 노동력이 필요없이<br />​수익을 얻는 4차산업입니다.</p>
                </div>
                
                
                <div class="col-sm-3 text-center">				            			
					<span class="text-warning-dark uil uil-coins fs-2"></span>
                  <h4 class="mb-2">지속 가능한 수익</h4>
                  <p>데이터 저장소 제공만으로<br />최소 6년간 지속적인 수익 보장!</p>
                </div>
                
                <div class="col-sm-3 text-center">			
        			<span class="text-warning-dark uil uil-desktop fs-2"></span>
                  <h4 class="mb-2">실시간 수익확인</h4>
                  <p>모든 수익은 매일 실시간으로<br />​안전하게 전자지갑 속으로!</p>
                </div>
                <div class="col-sm-3 text-center">				
            		<span class="text-warning-dark uil uil-polygon fs-2"></span>
                  <h4 class="mb-2">쉬운 창업</h4>
                  <p>최첨단 IT 기술 사업을<br />누구나 할 수 있게 만듭니다.</p>
                </div>
                <div class="col-sm-3 text-center">							
        			<span class="text-warning-dark uil uil-money-stack fs-2"></span>
                  <h4 class="mb-2">고수익 사업</h4>
                  <p>카페, 편의점, 치킨집보다<br />​안정적인 고수익 프렌차이즈!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>


		
		<section class="pt-10" id="blog">
	        <div class="container-small px-lg-7 px-xxl-3">
	          <div class="text-center mb-5 mb-8">
	            <h5 class="text-warning-dark mb-3">SP PRODUCTS</h5>
	            <h1 class="mb-2">SP 상품</h1>
	          </div>
	          <div class="row gx-3 gy-7">
	            <div class="col-lg-4">
	              <div class="blog-card">
					  <img class="w-100 rounded-3" src="/assets/img/thumb/nanodc_yb.png" alt="" />
						<span class="badge text-bg-warning mb-2 mt-4">2PiB</span>
		                <h4 class="mb-3 pe-sm-5 lh-lg">RAW 2PiB<br />QAP 20PiB</h4>
		                <h3>2억 원<span class="fs-8">(부가세 별도)</span></h3>
	              </div>
	            </div>
	            <div class="col-lg-4">
	              <div class="blog-card">
					  <img class="w-100 rounded-3" src="/assets/img/thumb/nanodc_og.png" alt="" />						
						<span class="badge text-bg-warning mb-2 mt-4">4PiB</span>
		                <h4 class="mb-3 pe-sm-5 lh-lg">RAW 4PiB<br />QAP 40PiB</h4>
		                <h3>3억 원<span class="fs-8">(부가세 별도)</span></h3>
	              </div>
	            </div>
	            <div class="col-lg-4">
	              <div class="blog-card">
					  <img class="w-100 rounded-3" src="/assets/img/thumb/nanodc_wb.png" alt="" />					
						<span class="badge text-bg-warning mb-2 mt-4">6PiB</span>
		                <h4 class="mb-3 pe-sm-5 lh-lg">RAW 6PiB<br />QAP 60PiB</h4>
		                <h3>5억 원<span class="fs-8">(부가세 별도)</span></h3>
	              </div>
	            </div>
	          </div>
	        </div>
	        <!-- end of .container-->
	
	    </section>
		
		<section class="pt-13 pb-10" id="feature">
	    	<div class="container-small px-lg-7 px-xxl-3">
	        	<div class="text-center mb-10 mb-md-5">
	            	<h5 class="text-warning-dark mb-3">구매문의</h5>
	            	<h2 class="mb-3 lh-base">02-567-2227</h2>
	            	<p class="mb-0">allen@zetacube.net</p>
				</div>
			</div>
	     </section>
		     
		<section class="alternate-landing-team" id="team">
        <div class="position-absolute w-100 h-100 start-0 end-0 top-0 bg-body dark__bg-gray-1000" style="transform: skewY(-6deg); transform-origin: right"></div>
        <div class="bg-holder d-none d-xl-block" style="background-image:url(../../assets/img/bg/bg-left-23.png);background-size:auto;background-position:left center;">
        </div>
        <!--/.bg-holder-->

        <div class="bg-holder d-none d-xl-block" style="background-image:url(../../assets/img/bg/bg-right-23.png);background-size:auto;background-position:right center;">
        </div>
        <!--/.bg-holder-->

        <div class="text-center mb-11 position-relative">
          <h5 class="text-warning-dark mb-3">NANODC</h5>
          <h1 class="mb-2">설치된 NANODC</h1> 
        </div>
        <div class="container-small position-relative">
          <div class="row justify-content-center">
            <div class="col-lg-12 col-xl-12">
              <div class="row gx-3 gy-6 justify-content-center">
                <div class="col-sm-4 col-md-3">
                  <div class="blog-card text-center">
					  <img class="w-sm-100 rounded-4 mb-3" src="/assets/img/thumb/bucheon01.jpg" alt="" style="object-fit: cover; object-position: center center; height: 500px;"/>				
				    <span class="badge text-bg-warning mb-2 mt-1 mb-3">6PiB</span>
                    <h4>부천 1호</h4>
                  </div>
                </div>
                <div class="col-sm-4 col-md-3">
                  <div class="blog-card text-center">
					  <img class="w-sm-100 rounded-4 mb-3" src="/assets/img/thumb/gwangju01.jpg" alt="" style="object-fit: cover; object-position: center center; height: 500px;"/>								
				    <span class="badge text-bg-warning mb-2 mt-1 mb-3">1PiB</span>
                    <h4>광주 1호</h4>
                  </div>
                </div>
                <div class="col-sm-4 col-md-3">
                  <div class="blog-card text-center"> 
					  <img class="w-sm-100 rounded-4 mb-3" src="/assets/img/thumb/goyang01.jpg" alt="" style="object-fit: cover; object-position: center center; height: 500px;"/>							
				    <span class="badge text-bg-warning mb-2 mt-1 mb-3">2PiB</span>
                    <h4>고양 1호</h4>
                  </div>
                </div>
                <div class="col-sm-4 col-md-3">
                  <div class="blog-card text-center">
					  <img class="w-sm-100 rounded-4 mb-3" src="/assets/img/thumb/bucheon02.jpg" alt="" style="object-fit: cover; object-position: center center; height: 500px;"/>						
				    <span class="badge text-bg-warning mb-2 mt-1 mb-3">4PiB</span>
                    <h4>부천 2호</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
		
		
    </div>
</main>
</html>