<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
      <div class="content  section-light container-small" th:fragment="MainContent">
        <div class="container mt-5">
            <div class="card">
                <div class="card-body">
                    <div class="form-group row">
						<div class="form-group row hidden" th:classappend="${loginVO != null}">
                        <input id="userId" th:value="${loginVO.userInfoVO.user_id}" type="hidden">
                    </div>
                        <label class="col-md-4 form-control-label" style="margin-top:5px;"><b>기존 비밀번호</b></label>
                        <div class="col-md-8 mb-2">
                            <input id="original_password" class="form-control" type="password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 form-control-label" style="margin-top:5px;"><b>새 비밀번호</b></label>
                        <div class="col-md-8 mb-2">
                            <input id="user_password" class="form-control" type="password" placeholder="8~16자리/영문 대소문자, 숫자, 특수문자 조합" >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 form-control-label" style="margin-top:5px;"><b>새 비밀번호 확인</b></label>
                        <div class="col-md-8 mb-2">
                            <input id="user_password_repeat" class="form-control" type="password" placeholder="8~16자리/영문 대소문자, 숫자, 특수문자 조합" >
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-8">
                           <span id="alert_span" class="text-danger"></span>
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" id="update_user_password_confirm" class="btn btn-info">변경</button>
                    </div>
                    <div class="modal" tabindex="-1" role="dialog" id="completionModal">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header bg-success">
                                    <h5 class="modal-title text-white">비밀번호 변경 완료</h5>
                                    <button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close">
                    <svg class="svg-inline--fa fa-xmark fs-9 text-white dark__text-gray-1100" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="xmark" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg="">
                        <path fill="currentColor" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"></path>
                    </svg>
                </button>
                                </div>
                                <div class="modal-body">
									<p>다시 로그인 해주세요</p>
                                </div>
                                <div class="modal-footer">
                                    <!-- 닫기 버튼을 확인 버튼으로 변경했습니다. -->
                                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">확인</button>
                                </div>
                            </div>
                        </div>
                    </div>
   
                </div>
            </div>
        </div>
        
		<div class="container mt-5">
			<!-- 알림 모달 -->
			<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true" th:if="${alertMessage}">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="alertModalLabel">알림</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<p th:text="${alertMessage}"></p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
						</div>
					</div>
				</div>
			</div>
			
			<!-- 진행상황 템플릿
			<div class="col-12 col-lg-6">
              <div class="timeline-vertical">
                <div class="timeline-item">
                  <div class="row g-md-3 align-items-center mb-8 mb-lg-10">
                    <div class="col-12 col-md-auto d-flex">
                      <div class="timeline-item-bar position-relative me-3 me-md-0">
                        <div class="icon-item icon-item-sm bg-success" data-bs-theme="light"><span class="fa-solid fa-check text-white fs-10"></span></div><span class="timeline-bar border-end border-success"></span>
                      </div>
                    </div>
                    <div class="col">
                      <div class="timeline-item-content ps-6 ps-md-3">
                        <h4>Order is processing</h4>
                        <p class="fs-9 text-body-secondary mb-0">Your package is ready for the seller to prepare.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="timeline-item">
                  <div class="row g-md-3 align-items-center mb-8 mb-lg-10">
                    <div class="col-12 col-md-auto d-flex">
                      <div class="timeline-item-bar position-relative me-3 me-md-0">
                        <div class="icon-item icon-item-sm bg-success" data-bs-theme="light"><span class="fa-solid fa-check text-white fs-10"></span></div><span class="timeline-bar border-end border-warning"></span>
                      </div>
                    </div>
                    <div class="col">
                      <div class="timeline-item-content ps-6 ps-md-3">
                        <h4>Picked Up</h4>
                        <p class="fs-9 text-body-secondary mb-0">Your package has been picked up from the seller.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="timeline-item">
                  <div class="row g-md-3 align-items-center mb-8 mb-lg-10">
                    <div class="col-12 col-md-auto d-flex">
                      <div class="timeline-item-bar position-relative me-3 me-md-0">
                        <div class="icon-item icon-item-sm bg-warning" data-bs-theme="light"><span class="fa-solid fa-truck-ramp-box text-white fs-10"></span></div><span class="timeline-bar border-end border-dashed"></span>
                      </div>
                    </div>
                    <div class="col">
                      <div class="timeline-item-content ps-6 ps-md-3">
                        <h4>Ready to Ship</h4>
                        <p class="fs-9 text-body-secondary mb-0">Your package is now ready to be shipped.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="timeline-item">
                  <div class="row g-md-3 align-items-center mb-8 mb-lg-10">
                    <div class="col-12 col-md-auto d-flex">
                      <div class="timeline-item-bar position-relative me-3 me-md-0">
                        <div class="icon-item icon-item-sm bg-body-quaternary" data-bs-theme="light"><span class="fa-solid fa-truck text-white fs-10"></span></div><span class="timeline-bar border-end border-dashed"></span>
                      </div>
                    </div>
                    <div class="col">
                      <div class="timeline-item-content ps-6 ps-md-3">
                        <h4>Shipped</h4>
                        <p class="fs-9 text-body-secondary mb-0">Pending</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="timeline-item">
                  <div class="row g-md-3 align-items-center">
                    <div class="col-12 col-md-auto d-flex">
                      <div class="timeline-item-bar position-relative me-3 me-md-0">
                        <div class="icon-item icon-item-sm bg-body-quaternary" data-bs-theme="light"><span class="fa-solid fa-truck-fast text-white fs-10"></span></div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="timeline-item-content ps-6 ps-md-3">
                        <h4>Delivered</h4>
                        <p class="fs-9 text-body-secondary mb-0">Pending</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            -->
            
			<!-- 계약 현황 -->
			<div class="container mt-5">
				<div class="col-auto">
					<h2 class="mb-3">계약 현황</h2>
					<button class="btn btn-warning w-100 mb-3">전자계약서 작성하기</button>
					<div class="form-group mb-3">
						<label for="process" class="form-label fs-8">진행현황</label>
						<div class="table-responsive">
							<table class="table table-bordered" id="agreementTable">
								<tbody>
									<tr th:each="agreement : ${agreements}">
										<td class="step" data-step="1">
											<span class="step-label">전자서명 진행중<i data-feather="check" class="check-icon"></i></span>
											<a th:if="${agreement.process == '전자서명 진행중'}" th:href="@{/user/contract}" class="button-inline">전자서명 하기</a>
											<a th:if="${agreement.process != '전자서명 진행중'}" th:href="@{'https://app.nanodc.info/docs/' + ${agreement.user_id} + '_contract.pdf'}" class="button-inline">계약서 PDF 다운로드</a>
										</td>
									</tr>
									<tr>
										<td class="step" data-step="2">
											<span class="step-label">계약서 검토중<i data-feather="check" class="check-icon"></i></span>
										</td>
									</tr>
									<tr>
										<td class="step" data-step="3">
											<span class="step-label">계약금 입금 확인중<i data-feather="check" class="check-icon"></i></span>
										</td>
									</tr>
									<tr>
										<td class="step" data-step="4">
											<span class="step-label">중도금 입금 확인중<i data-feather="check" class="check-icon"></i></span>
										</td>
									</tr>
									<tr>
										<td class="step" data-step="5">
											<span class="step-label">잔금 입금 확인중<i data-feather="check" class="check-icon"></i></span>
										</td>
									</tr>
									<tr>
										<td class="step" data-step="6">
											<span class="step-label">계약완료<i data-feather="check" class="check-icon"></i></span>
										</td>
									</tr>
								</tbody>
							</table>
							
							<!-- 숨겨진 데이터 -->
							<div id="hiddenData" class="hidden" th:each="agreement : ${agreements}" th:data-process="${agreement.process}"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
        
    </div>
</html>