<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<main class="privacy-policy" th:fragment="TermsBasic">
	<div class="privacy-policy-container ">
		<section class="pb-3 overflow-hidden">
        <div class="hero-header-container-alternate position-relative">
          <div class="container-small px-lg-7 px-xxl-3">
			  <h1 class="mb-6">이용약관 주요 내용 고지</h1>
		    <ol>
		        <li>회사는 미성년자 또는 제한능력자의 서비스 이용을 제한합니다. 회사는 미성년자 또는 제한능력자가 회원으로 가입하였음을 확인한 경우 해당 회원을 회원의 동의 없이 탈퇴 처리할 수 있습니다.</li>
		        <li>접속자가 회사의 서비스를 이용하기 위하여 회원의 계정, 비밀번호 기타 회원이 회사에게 제공한 로그인 정보와 일치하는 정보를 기입하여 회사의 모바일/웹 페이지, 어플리케이션에 접속할 경우, 해당 접속 기간 중 이루어지는 모든 거래 행위는 해당 회원의 진정한 의사에 기한 것으로 간주됩니다. 그러므로 회원은 계정, 비밀번호 기타 정보에 대한 보안을 유지하여야 하고, 자신의 귀책사유에 의하여 개인정보가 유출됨에 따라 발생할 수 있는 금융사고 또는 범죄로 인한 피해를 주의하여야 합니다.</li>
		        <li>제타큐브 리퀴디티를 신청한 디지털 자산은 제타큐브 리퀴디티 신청 시부터 출금이 완료되기 전까지 회원의 필마운틴 계정 내 보유 자산, 거래 및 출금 가능 자산에서 제외됩니다.</li>
		        <li>디지털 자산 자체의 가치 변동이 발생할 수 있으며, 본 서비스 이용 중 디지털 자산 시세 변동에 의한 손실은 회원에게 귀속되며 회사에서는 이를 책임지지 않습니다.</li>
		        <li>리퀴디티에 따른 보상은 파일코인 블록체인 네트워크 상황에 따라 상시적으로 변동하며, 회사는 이에 관여할 수 없습니다.</li>
		        <li>회원이 회사의 서비스를 이용하여 가상자산을 거래하였을 경우, 해당 가상자산의 거래내역은 필마운틴 거래서비스 시스템에 기록이 됩니다. 회사는 코인원 내 가상자산 거래 과정에서 체결된 거래에 관하여 일정한 수수료를 지급받습니다.</li>
		        <li>회원의 불법행위로 인하여 회사에게 손해가 발생할 경우, 회사는 회원에게 법률상 손해배상청구권을 행사할 수 있습니다. 그러므로 반드시 법령을 준수하여 회사의 서비스를 이용하여 주시기 바랍니다.</li>
		    </ol>
		  </div>
		</div>
		
    </div>
</main>
</html>