<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<main class="main" th:fragment="Main">
	<div class="main-container">
		
		
		<!--
		<section class="py-0" style="height: 700px;">
	        <div class="bg-holder" style="background-image:url(assets/img/bg/main-bg.png);background-position:center;background-size:40%;">
	        </div>
	
	        <div class="container-lg position-relative">
	          <div class="row flex-center">
	            <div class="col-12 col-sm-9 col-xl-7 px-4 px-xxl-6 text-center pt-10" style="margin-top: 200px">
	              <h1 class="display-3 fw-bolder lh-sm mb-4">간편하게 참여하는 NANODC LIQUIDITY</h1>
	              <p class="mb-10" style="font-size: 24px;">지속 가능한 수익을 창출해보세요.</p>
	            </div>
	          </div>
	        </div>
	      </section>
		<section class="pt-13 pb-0" id="feature">
		-->
		
	<section class="pb-3 overflow-hidden" id="home">
        <div class="hero-header-container-alternate position-relative">
          <div class="container-small px-lg-7 px-xxl-3">
            <div class="row align-items-center">
              <div class="col-12 col-lg-6 pt-2 pb-6 position-relative z-5 text-center text-lg-start">
                <h1 class="fs-3 fs-md-2 fs-xl-2 fw-black mb-4">혁신적인 4차산업<br />프렌차이즈<br />4나노데이터센터</h1>
                <p class="mb-5 pe-xl-10" style="text-align: left;">Super High Performance Server Solution Providing for the 4th Generation Business Success!</p>
                <div class="row gx-3 gy-7 justify-content-center">
					<div class="text-center text-warning-dark" style="width: 30%;">
						<h2 class="text-warning-dark">4</h2>
						<p class="fs-9">OPERATING NANODC</p>
					</div>
					<div class="text-center text-warning-dark" style="width: 30%;">
						<h2 class="text-warning-dark">2</h2>
						<p class="fs-9">PLANNED DC</p>
					</div>
					<div class="text-center text-warning-dark" style="width: 30%;">
						<h2 class="text-warning-dark">12PiB</h2>
						<p class="fs-9">RAW POWER</p>
					</div>
				</div>
              </div>
              <div class="col-12 col-lg-auto d-none d-lg-block">
                <div class="hero-image-container position-absolute h-100 end-0 d-flex align-items-center">
                  <div class="position-relative text-center">
					  
					  <img class="w-100 d-dark-none rounded-2" src="/assets/img/bg/nanodc-bg.png" alt="hero-header" />
					  <img class="w-100 d-light-none rounded-2" src="/assets/img/bg/nanodc-bg.png" alt="hero-header" />
					  <!--
						  
					  <img class="position-absolute end-0 hero-image-container-bg" src="/assets/img/bg/nanodc-3d-icon.png" alt="" />
					  <div class="position-absolute end-0 hero-image-container-overlay" style="transform: skewY(-8deg)"></div>
					  <img class="w-100 d-light-none rounded-2 hero-image-shadow" src="../../assets/img/bg/bg-35.png" alt="hero-header" />
					  -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-small px-md-8 mb-8 d-lg-none">
            <div class="position-relative">
              <img class="img-fluid ms-auto d-light-none rounded-2 hero-image-shadow" src="/assets/img/bg/nanodc-bg.png" alt="hero-header"/>
            </div>
          </div>
        </div>
      </section>
		
        <div class="container-small px-lg-7 px-xxl-3">
          <div class="row flex-between-center px-xl-11 mb-10 mb-md-9">
            <div class="col-md-6 order-1 order-md-0 text-center text-md-start">
              <h4 class="mb-3">SP(Storage Provider)</h4>
              <p class="mb-5">탈중앙화된 스토리지 제공자로, 서로 분산된 지리적 환경에서 데이터를 나눠 저장하여 사용자들은 데이터가 삭제될 걱정없이 데이터를 저장합니다.</p><a class="btn btn-link me-2 p-0 fs-9 text-warning-dark" href="/NanoDC" role="button">VIEW MORE<i class="fa-solid fa-angle-right ms-2"></i></a>
            </div>
            <div class="col-md-5 mb-5 mb-md-0 text-center"><img class="w-75 w-md-100 d-dark-none" src="../assets/img/icons/server-storage-icon.png" alt="서버 스토리지 모양" /><img class="w-75 w-md-100 d-light-none" src="../assets/img/icons/server-storage-icon.png" alt="서버 스토리지 모양" /></div>
          </div>
          <div class="row flex-between-center px-xl-11 mb-10 mb-md-9">
            <div class="col-md-6 order-1 order-md-0 text-center text-md-start">
              <h4 class="mb-3">LP(Liquidity Provider)</h4>
              <p class="mb-5">NANODC POOL에 유동성을 제공하여 SP가 원활하게 데이터를 저장할 수 있도록 돕고 이들은 자산을 유동성 풀에 예치하여 데이터 저장 수수료를 나눠받습니다.</p><a class="btn btn-link me-2 p-0 fs-9 text-warning-dark" href="/Liquidity" role="button">VIEW MORE<i class="fa-solid fa-angle-right ms-2"></i></a>
            </div>
            <div class="col-md-5 mb-5 mb-md-0 text-center"><img class="w-75 w-md-100 d-dark-none" src="../assets/img/icons/hand-cash-icon.png" alt="손 위에 동전들" /><img class="w-75 w-md-100 d-light-none" src="../assets/img/icons/hand-cash-icon.png" alt="손 위에 동전들" /></div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
		
    </div>
</main>
</html>