<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<main class="main" th:fragment="Main">
    <style>
        .blog-card img {
            width: 100%;
            height: 300px; /* 모든 이미지의 높이를 300px로 통일 */
            object-fit: cover; /* 이미지 비율을 유지하면서 컨테이너를 채움 */
            border-radius: 0.5rem;
        }

        .blog-card {
            height: 100%; /* 카드 전체 높이를 동일하게 맞춤 */
            display: flex;
            flex-direction: column;
        }
    </style>
    <div class="main-container">
        
        <div class="modal fade" id="verticallyCentered" tabindex="-1" aria-labelledby="verticallyCenteredModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="verticallyCenteredModalLabel">구매신청서</h5>
                        <button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close">
                            <span class="fas fa-times fs-9"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="purchaseForm">
                            <input type="hidden" id="userId" name="userId">

                            <!-- SP상품 선택 -->
                            <div class="mb-3">
                                <label class="form-label" for="spProduct">구매 SP상품</label>
                                <select class="form-select" id="spProduct" name="spProduct" aria-label="Default select example" onchange="toggleQuantityInput()">
                                    <option selected="selected">구매하실 상품을 선택하세요.</option>
                                    <option value="NanoDC2p">NANODC2P</option>
                                    <option value="NanoDC4p">NANODC4P</option>
                                    <option value="NanoDC6p">NANODC6P</option>
                                    <option value="20TB">NANODC 20T HDD</option>
                                </select>
                            </div>

                            <!-- 갯수 입력 필드 -->
                            <div class="mb-3" id="quantityInput" style="display: none;">
                                <label class="form-label" for="quantity">갯수 입력</label>
                                <input type="number" class="form-control" id="quantity" name="quantity" min="1" placeholder="갯수를 입력하세요.">
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="basic-form-textarea">Description</label>
                                <textarea class="form-control" id="description" name="description" rows="3" placeholder="Description"></textarea>
                            </div>

                            <button class="btn btn-primary" id="confirm_application" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <section class="pb-3 overflow-hidden bg-body" id="home">
            <div class="hero-header-container-alternate position-relative">
                <div class="container-small px-lg-7 px-xxl-3">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-6 pt-10 pb-2 position-relative z-5 text-center text-lg-start">
                            <h1 class="fs-4 fs-md-2 fs-xl-3 fw-black mb-4">혁신적인 4차산업<br />프렌차이즈<br />4나노데이터센터</h1>
                            <p class="mb-5 pe-xl-10" style="text-align: left;">Super High Performance Server Solution Providing for the 4th Generation Business Success!</p>
                            <div class="row gx-3 gy-7 justify-content-center">
                                <div class="text-center text-warning-dark" style="width: 30%;">
                                    <h2 class="text-warning-dark">4</h2>
                                    <p class="fs-9">OPERATING NANODC</p>
                                </div>
                                <div class="text-center text-warning-dark" style="width: 30%;">
                                    <h2 class="text-warning-dark">2</h2>
                                    <p class="fs-9">PLANNED DC</p>
                                </div>
                                <div class="text-center text-warning-dark" style="width: 30%;">
                                    <h2 class="text-warning-dark">12PiB</h2>
                                    <p class="fs-9">RAW POWER</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-auto d-none d-lg-block">
                            <div class="hero-image-container position-absolute h-100 end-0 d-flex align-items-center">
                                <div class="position-relative text-center">
                                    <img class="w-100 d-dark-none rounded-2" src="/assets/img/bg/nanodc-bg.png" alt="hero-header" />
                                    <img class="w-100 d-light-none rounded-2" src="/assets/img/bg/nanodc-bg.png" alt="hero-header" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-small px-md-8 mb-8 d-lg-none">
                    <div class="position-relative">
                        <img class="img-fluid ms-auto d-light-none rounded-2 hero-image-shadow" src="/assets/img/bg/nanodc-bg.png" alt="hero-header"/>
                    </div>
                </div>
            </div>
        </section>

		<section class="pt-10" id="blog">
            <div class="container-small px-lg-7 px-xxl-3">
                <div class="text-center mb-5 mb-8">
                    <h5 class="text-warning-dark mb-3">SP PRODUCTS</h5>
                    <h1 class="mb-2">SP 상품</h1>
                </div>
                <!-- 모든 제품을 한 줄에 표시 -->
                <div class="row gx-3 gy-7">
                    <div class="col-lg-3">
                        <div class="blog-card">
                            <img class="w-100 rounded-3" src="/assets/img/thumb/nanodc_yb.png" alt="" />
                            <span class="badge text-bg-warning mb-2 mt-4">2PiB</span>
                            <h4 class="mb-3 pe-sm-5 lh-lg">RAW 2PiB<br />QAP 20PiB</h4>
                            <h3>2억 원<span class="fs-8">(부가세 별도)</span></h3>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="blog-card">
                            <img class="w-100 rounded-3" src="/assets/img/thumb/nanodc_og.png" alt="" />
                            <span class="badge text-bg-warning mb-2 mt-4">4PiB</span>
                            <h4 class="mb-3 pe-sm-5 lh-lg">RAW 4PiB<br />QAP 40PiB</h4>
                            <h3>3억 원<span class="fs-8">(부가세 별도)</span></h3>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="blog-card">
                            <img class="w-100 rounded-3" src="/assets/img/thumb/nanodc_wb.png" alt="" />
                            <span class="badge text-bg-warning mb-2 mt-4">6PiB</span>
                            <h4 class="mb-3 pe-sm-5 lh-lg">RAW 6PiB<br />QAP 60PiB</h4>
                            <h3>5억 원<span class="fs-8">(부가세 별도)</span></h3>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="blog-card">
                            <img class="w-100 rounded-3" src="/assets/img/thumb/nanoDDD.png" alt="" />
                            <span class="badge text-bg-warning mb-2 mt-4">20TB</span>
                            <h4 class="mb-3 pe-sm-5 lh-lg"><br />20TB</h4>
                            <h3>300만원<span class="fs-8">(부가세 별도)</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="container-small px-lg-7 px-xxl-3">
            <div class="row flex-between-center px-xl-11 mb-10 mb-md-9">
                <div class="col-md-6 order-1 order-md-0 text-center text-md-start">
                    <h4 class="mb-3">SP(Storage Provider)</h4>
                    <p class="mb-5">탈중앙화된 스토리지 제공자로, 서로 분산된 지리적 환경에서 데이터를 나눠 저장하여 사용자들은 데이터가 삭제될 걱정없이 데이터를 저장합니다.</p>
                    <!-- 로그인된 사용자에게만 모달을 띄우는 버튼 -->
                    <button class="btn btn-warning me-1 mb-1 btn-lg"
                        th:if="${withLoginOptions}" 
                        data-bs-toggle="modal" 
                        id="purchaseButton"
                        data-bs-target="#verticallyCentered"
                        th:data-user-id="${userInfoVO.user_id}">
                        구매신청<i class="fa-solid fa-angle-right ms-2"></i>
                    </button>

                    <!-- 로그인되지 않은 사용자에게 경고창을 띄우고 로그인 페이지로 이동시키는 버튼 -->
                    <button class="btn btn-warning me-1 mb-1 btn-lg"
                        th:unless="${withLoginOptions}" 
                        href="javascript:void(0);" 
                        onclick="showLoginAlert()">
                        구매신청
                    </button>
                </div>
                <div class="col-md-5 mb-5 mb-md-0 text-center">
                    <img class="w-75 w-md-100 d-dark-none" src="../assets/img/icons/server-storage-icon.png" alt="서버 스토리지 모양" />
                    <img class="w-75 w-md-100 d-light-none" src="../assets/img/icons/server-storage-icon.png" alt="서버 스토리지 모양" />
                </div>
            </div>
        </div>
    </div>

    <script>
        function toggleQuantityInput() {
            const productSelect = document.getElementById("spProduct");
            const quantityInput = document.getElementById("quantityInput");

            if (productSelect.value === "20TB") {
                quantityInput.style.display = "block";
            } else {
                quantityInput.style.display = "none";
            }
        }

        function showLoginAlert() {
            alert("로그인이 필요합니다.");
            window.location.href = "/login";
        }
    </script>
</main>
</html>