<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!-- 업데이트 모달 -->
<div class="content" th:fragment="MainContent">
		<!-- 업데이트 모달 -->


                             
        
<!-- 성공 모달 실패 모달 -->
<div class="modal fade" id="success_alert" tabindex="-1" role="dialog">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header bg-success">
			        <h5 class="modal-title text-white dark__text-gray-1100" id="success_alert_title">승인완료</h5>
			        <button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close"><span class="fas fa-times fs-9 text-white dark__text-gray-1100"></span></button>
			      </div>
			      <div class="modal-footer">
			        <button class="btn btn-outline-success" type="button" id = "receipt_update" data-bs-dismiss="modal">확인</button>
			      </div>
			    </div>
			  </div>
			</div>
			<div class="modal fade" id="fail_alert" tabindex="-1" role="dialog">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header bg-danger">
			        <h5 class="modal-title text-white dark__text-gray-1100" id="fail_alert_title">승인실패</h5>
			        <button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close"><span class="fas fa-times fs-9 text-white dark__text-gray-1100"></span></button>
			      </div>
			      <div class="modal-footer">
			        <button class="btn btn-outline-danger" type="button" data-bs-dismiss="modal">확인</button>
			      </div>
			    </div>
			  </div>
			</div>


      <div class="mb-9">
        <div class="row g-3 mb-4">
            <div class="col-auto">
                <h2 class="mb-0">계약현황</h2>
            </div>
        </div>
        <div id="orderTable" data-list='{"valueNames":["created_at","name","tel","email","level","sp_product","message"],"page":10,"pagination":true}'>
            <div class="mb-4">
                <div class="row g-3">
                    <div class="col-auto">
                        <div class="search-box">
                            <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                                <input class="form-control search-input search" type="search" placeholder="Search orders" aria-label="Search">
                                <svg class="svg-inline--fa fa-magnifying-glass search-box-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="magnifying-glass" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                    <path fill="currentColor" d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"></path>
                                </svg>
                            </form>
                        </div>
                    </div>
                    <div class="col-auto scrollbar overflow-hidden-y flex-grow-1"></div>
                </div>
            </div>
            <div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-body-emphasis border-top border-bottom border-translucent position-relative top-1">
                <div class="table-responsive scrollbar mx-n1 px-1">
                    <table class="table table-sm fs-9 mb-0">
                        <thead>
                            <tr>
                                <th class="fs-9 align-middle py-3 order align-middle white-space-nowrap py-0" scope="col" data-sort="created_at" style="width:10%;">신청일시</th>
                                <th class="sort align-middle ps-0" scope="col" data-sort="name" style="width:10%;">신청자 이름</th>
                                <th class="sort align-middle pe-3" scope="col" data-sort="tel" style="width:10%;">연락처</th>
                                <th class="sort align-middle text-start pe-3" scope="col" data-sort="email" style="width:10%; min-width: 200px;">이메일</th>
                                <th class="sort align-middle text-start pe-3" scope="col" data-sort="level" style="width:5%; min-width: 200px;">직급</th>
                                <th class="sort align-middle text-start pe-18 " scope="col" data-sort="sp_product" style="width:5%;">신청 상품</th>
                                <th class="sort align-middle text-start pe-3 " scope="col" data-sort="message" style="width:10%;">메모</th>
                                <th class="sort align-middle text-end pe-3 " scope="col" data-sort="message" style="width:5%;">심사</th>
                            </tr>
                        </thead>
                        <tbody class="list" id="order-table-body">
                            <tr th:each="item : ${selectApplication}">
                                <td th:text="${#dates.format(item.created_at, 'yyyy-MM-dd HH:mm:ss')}" class="fs-9 align-middle py-3 user_reg_date align-middle white-space-nowrap py-0"></td>
                                <td th:text="${item.user_name}" class="name align-middle fw-semibold text-body-highlight ps-2"></td>
                                <td th:text="${item.phone_number}" class="tel align-middle fw-semibold text-body-highlight"></td>
                                <td th:text="${item.user_email}" class="email align-middle fw-semibold text-body-highlight"></td>
                                <td th:text="${item.level}" class="level align-middle fw-semibold text-body-highlight"></td>
                                <td th:text="${item.sp_product}" class="sp_product align-middle fw-semibold text-body-highlight"></td>
                                <td th:text="${item.message}" class="message align-middle fw-semibold text-body-highlight"></td>
                                 <td class="text-end pe-0">
						            <button class="btn btn-secondary agree_button"
						            type="button" 
						            th:data-application-id="${item.application_id}" 
                                        th:data-id="${item.user_id}"
                                        th:data-sp-product="${item.sp_product}" >승인</button>
						        </td>
                            </tr>
                            <!-- 기본 템플릿 -->
                            <tr th:if="${selectApplication.size() == 0}">
                                <td colspan="7" class="text-center">데이터가 없습니다.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row align-items-center justify-content-between py-2 pe-0 fs-9">
                    <div class="col-auto d-flex">
                        <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info">1 to 10 <span class="text-body-tertiary"> Items of </span>15</p>
                        <a class="fw-semibold" href="#!" data-list-view="*">View all<svg class="svg-inline--fa fa-angle-right ms-1" data-fa-transform="down-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><g transform="translate(128 256)"><g transform="translate(0, 32) scale(1, 1) rotate(0 0 0)"><path fill="currentColor" d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"></path></svg></a>
                        <a class="fw-semibold d-none" href="#!" data-list-view="less">View Less<svg class="svg-inline--fa fa-angle-right ms-1" data-fa-transform="down-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><g transform="translate(128 256)"><g transform="translate(0, 32) scale(1, 1) rotate(0 0 0)"><path fill="currentColor" d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"></path></svg></a>
                    </div>
                    <div class="col-auto d-flex">
                        <button class="page-link disabled" data-list-pagination="prev" disabled=""><svg class="svg-inline--fa fa-chevron-left" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M224 480c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l169.4 169.4c12.5 12.5 12.5 32.75 0 45.25C240.4 476.9 232.2 480 224 480z"></path></svg></button>
                        <ul class="mb-0 pagination">
                            <li class="active"><button class="page" type="button" data-i="1" data-page="10">1</button></li>
                            <li><button class="page" type="button" data-i="2" data-page="10">2</button></li>
                        </ul>
                        <button class="page-link pe-0" data-list-pagination="next"><svg class="svg-inline--fa fa-chevron-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"></path></svg></button>
                    </div>
                </div>
            </div>
        </div>
    </div>


<style>
    .strike-through {
        text-decoration: line-through;
    }
</style>

</html>
