<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
		<div class="content mt-7" th:fragment="MainContent">
        <div class="row gx-6 gy-3 mb-4 align-items-center">
          <div class="col-auto">
            <h2 class="mb-0">제품현황</h2>
          </div>

        </div>               
   <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-2 g-3 mb-9" style="gap: 2%;">
			<div class="card" style="padding:0;" th:each="investment, iterStat : ${investmentList}">
		  <div class="row g-0">
		    <div class="col-md-6">
		
		      <img class="img-fluid h-100 rounded-start" th:if="${iterStat.index == 0}" th:src="'/uploads/'+${investment.picture_url}" alt="..." />
	
		  <!--    <img class="img-fluid h-100 rounded-start" src="../assets/img/thumb/goyang01.jpg" alt="..." />-->
		    </div>
		    <div class="col-md-6">
		      <div class="card-body">
		        <h4 class="card-title" th:text="${investment.hw_product_name}"></h4>
		        <p class="card-text" th:each="detail : ${product_detail}" th:if="${detail.hw_product_id == investment.hw_product_id}" th:utext="${detail.details}"></p>
		        <div class="d-flex justify-content-between">
	                <div>
	                  <h5 style="display:none;">가격 : <span class="fw-semibold ms-1" id="invest_percent" th:text="${investment.invest_percent}"></span></h5>
	                </div>
	            </div>
                <div class="pb-4 pt-3">
                	<div class="investmentChart" style="height:120px; width:100%;"></div>
                </div>
                <div>
					<div class="d-flex align-items-center mb-2">
					    <div class="bullet-item bg-success-light me-2"></div>
					    <h6 class="text-body fw-semibold flex-1 mb-0">가격</h6>
					    <h6 class="text-body fw-semibold mb-0" id="total_budget_fil" th:text="${investment.total_budget_fil}"></h6>
					</div>
					<div class="d-flex align-items-center mb-2">
					    <div class="bullet-item bg-success me-2"></div>
					    <h6 class="text-body fw-semibold flex-1 mb-0">구매금액</h6>
					    <h6 class="text-body fw-semibold mb-0" id="hw_invest_fil" th:text="${investment.hw_invest_fil}"></h6>
					</div>
	                <div class="d-flex align-items-center mt-4">
	                  <p class="mb-0 fw-bold fs-9">구매일 :<span class="fw-semibold text-body-tertiary text-opactity-85 ms-1" th:text="${#dates.format(investment.hw_reg_date, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
	                </div>
              	</div>
		      </div>
		    </div>
			</div>
		</div>   
		</div>
</html>