<html xmlns:th="http://www.thymeleaf.org">
  <footer class="footer position-fixed bottom-0 z-index-1000 align-items-center" style="width: 100%; height: 16vh; background-color: #303030; padding: 0;" th:fragment="BottomBar">
	  
    <div class="staking-status d-flex justify-content-between align-items-center" style="background-color: #3874FF;">
      <div class="expected-apy d-flex flex-column justify-content-center align-items-center" style="flex: 1; height: 100%; text-align: center;">
        <div><strong class="strong-apy">5</strong></div>
        <small>OPERATING<br />NANODC</small>
      </div>
      <div class="protocol-tvl d-flex flex-column justify-content-center align-items-center" style="flex: 1; height: 100%; text-align: center;">
        <div><strong>2</strong></div>
        <small>PLANNED<br />NANODC</small>
      </div>
      <div class="qap-storage-added d-flex flex-column justify-content-center align-items-center" style="flex: 1; height: 100%; text-align: center;">
        <div><strong>17</strong> <span>PiB</span></div>
        <small>RAW<br />POWER</small>
      </div>
    </div>
    
    <div class="staking-status2 d-flex justify-content-between align-items-center" >
      <div class="expected-apy d-flex flex-column justify-content-center align-items-center" style="flex: 1; height: 100%; text-align: center;">
        <div><strong class="strong-apy" >2,000</strong></div>
        <small>LIQUIDITY</small>
      </div>
      <div class="protocol-tvl d-flex flex-column justify-content-center align-items-center" style="flex: 1; height: 100%; text-align: center;">
        <div><strong style="color: rgb(255, 255, 128);">12.11</strong><span style="color: rgb(255, 255, 128);">%</span></div>
        <small style="color: rgb(255, 255, 128);">EXPECTED RETURN</small>
      </div>
    </div>
    
    <!--
    <div class="staking-status d-flex justify-content-between align-items-center" style="width: 100%; height: 100%; padding: 0;">
      <div class="expected-apy d-flex flex-column justify-content-center align-items-center" style="flex: 1; height: 100%; text-align: center;">
        <div><strong class="strong-apy" style="color: #D04F17;">13.51</strong><span class="span-apy">%</span></div>
        <small>EXPECTED APY</small>
      </div>
      <div class="protocol-tvl d-flex flex-column justify-content-center align-items-center" style="flex: 1; height: 100%; text-align: center;">
        <div><strong>118,766</strong><span> FIL</span></div>
        <small>PROTOCOL TVL</small>
      </div>
      <div class="qap-storage-added d-flex flex-column justify-content-center align-items-center" style="flex: 1; height: 100%; text-align: center;">
        <div><strong>14.5</strong> <span>PiB</span></div>
        <small>QAP STORAGE ADDED</small>
      </div>
    </div>
    -->
  </footer>
</html>
