<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인증 완료</title>
    <link rel="stylesheet" href="../../../assets/css/kakao_contract_sign.css">
    <script src="/user/js/kakao_cert/confirmation.js"></script>
</head>
<body>
    <div class="container">
        <div class="kakao-cert">
            <div class="header">
                <img src="../../../assets/img/contract_img/kakaotalk_logo.png" alt="KakaoTalk Logo" class="logo">
                <span>인증이 완료되었습니다</span>
            </div>
            <div class="content">
                <p>요청한 서비스로 돌아가 인증결과를 확인하거나 다음단계를 진행하세요.</p>
                <button id="confirmButton" class="cert-button">확인</button>
            </div>
        </div>
    </div>
</body>
</html>