<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nanoDc.erp.mapper.ApplicationMapper">
    <insert id="insertApplication" parameterType="com.nanoDc.erp.vo.ApplicationVO">
        INSERT INTO applications (user_id, level, sp_product, message)
        VALUES (#{user_id},#{level}, #{sp_product}, #{message})
    </insert>
    <select id="selectApplication" resultType="com.nanoDc.erp.vo.ApplicationVO">
    SELECT 
        a.application_id,
        a.created_at,
        a.sp_product,
        a.message,
        a.status,
        a.level,
        u.user_id,
        u.user_name,
        u.user_email,
        u.phone_number
        
    FROM 
        applications a
    LEFT JOIN 
        user_info u ON a.user_id = u.user_id
    WHERE 
        a.status != '처리완료' 
        OR a.status IS NULL 
        OR a.status = ''
    ORDER BY 
        a.created_at DESC;
</select>
	
	<update id="updateApplicationStatus">
        UPDATE applications
        SET status = #{status}
        WHERE application_id = #{application_id}
    </update>
</mapper>